<!DOCTYPE HTML>
<html lang='pt-br'>
	<head>
		<title> Ola Mundo </title>
		<meta charset='utf-8'>
		<meta name='author' content='Lucas Ariel'>
	</head>
	<body>
		<div class='container'>
		</div>
		<script>
			const result = <%-grade%>
		</script>
	</body>
</html>

