<!DOCTYPE HTML>
<html lang='en'>
	<head>
		<title> Year list </title>
		<meta charset="utf-8">
		<meta name="author" content="Lucas Ariel">
	</head>
	<body>
		<div class="container">
			<main>
				<ul class="year-list">
					<%for(let i of route){%>
						<a href="/student/<%=i[0]%>"> <li><%=i[0]%></li> </a>
					<%}%>
				</ul>
			</main>
		</div>
	</body>
</html>

