<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> School Name </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lucas Ariel">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/index.css">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1 class="title">School Name</h1>

                <a class="sign-in" href="#">Sign in</a>
            </header>

            <main class="main">
                <section class="main__section main__first-section">
                    <div class="section__wrapper first-section__wrapper">
                        <h3 class="first-section__title main__section__title">Sit delectus nobis sint?</h3>
                        <p class="first-section__text main__section__text"> 
                            Sit ab reiciendis neque quibusdam delectus necessitatibus totam nesciunt dolor? Quibusdam obcaecati provident magni vero consequuntur rem ea laborum dicta Error dolorum nihil est dolores veritatis? Fugit quo asperiores distinctio explicabo provident. Corporis optio quasi iure quos expedita! Nulla corrupti vero eaque pariatur nisi Adipisci iste quo animi maiores impedit aut? Exercitationem laboriosam non odit soluta repellat rerum? Soluta aspernatur vero nostrum voluptas unde saepe Sunt minima eius hic cumque 
                        </p>                     
                    </div>
                </section>
                <section class="main__section main__second-section">
                    <div class="section__wrapper second-section__wrapper">
                        <h3 class="second-section__title main__section__title">Lorem qui ducimus debitis.</h3>
                        <p class="second-section__text main__section__text">
                            Sit voluptatibus eum facilis ratione nostrum? Amet laudantium ullam ad excepturi temporibus. Laboriosam ipsum earum expedita cum minima sed. Deserunt qui nobis non quam labore. Adipisci recusandae eaque illo vero eaque Aspernatur voluptate repellendus non inventore consequuntur, repellendus. Rem asperiores quam debitis non fugit? Officiis odit omnis fugit quo iusto. Officiis rerum exercitationem vero aperiam iusto, cum error Quo dignissimos ea labore quia rerum itaque Ab veritatis repellat quae rerum
                        </p>
                    </div>
                </section>
            </main>

            <footer class='footer'>
                <div class="footer__wrapper">
                        <section class="footer__about">
                            <h3 class="about__title">School name</h3>
                            <p class="about__text"> Condecorações </p>
                        </section>

                        <section class="footer__school-info">
                            <h3 class="info__title">School name</h3>
                            <ul class="info__ul">
                                <li class="info__li"><a href="" class="footer__link">Sobre</a></li>
                                <li class="info__li"><a href="" class="footer__link">SobrEstatisticas</a></li>
                                <li class="info__li"><a href="" class="footer__link">SobrFale conosco</a></li>
                            </ul>
                        </section>

                        <section class="footer__school-help">
                            <ul class="help__ul">
                                <li class="help__li"><a href="" class="footer__link">Nos Ajude</a></li>
                            </ul>
                        </section>

                        <section class="footer__school-network">
                            <ul class="netword__ul">
                                <li class="newtwork__li"><a href="" class="footer__link">Instagram</a></li>
                                <li class="newtwork__li"><a href="" class="footer__link">Twitter</a></li>
                                <li class="newtwork__li"><a href="" class="footer__link">Email</a></li>
                            </ul>
                        </section>
                </div>
            </footer>
        </div>
    </body>
</html>

