<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> School Name </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lucas Ariel">
        <meta name="robots" content="index, follow">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1>School Name</h1>

                <button class="sign-in">sign-in</button>
            </header>

            <main class="main">
                <section class="main__first-section">
                    <h3>Sit delectus nobis sint?</h3>
                    <p> Sit ab reiciendis neque quibusdam delectus necessitatibus totam nesciunt dolor? Quibusdam obcaecati provident magni vero consequuntur rem ea laborum dicta Error dolorum nihil est dolores veritatis? Fugit quo asperiores distinctio explicabo provident. Corporis optio quasi iure quos expedita! Nulla corrupti vero eaque pariatur nisi Adipisci iste quo animi maiores impedit aut? Exercitationem laboriosam non odit soluta repellat rerum? Soluta aspernatur vero nostrum voluptas unde saepe Sunt minima eius hic cumque </p>                     
                </section>
                <section class="main__second-section">
                    <h3>Lorem qui ducimus debitis.</h3>
                    <p>Sit voluptatibus eum facilis ratione nostrum? Amet laudantium ullam ad excepturi temporibus. Laboriosam ipsum earum expedita cum minima sed. Deserunt qui nobis non quam labore. Adipisci recusandae eaque illo vero eaque Aspernatur voluptate repellendus non inventore consequuntur, repellendus. Rem asperiores quam debitis non fugit? Officiis odit omnis fugit quo iusto. Officiis rerum exercitationem vero aperiam iusto, cum error Quo dignissimos ea labore quia rerum itaque Ab veritatis repellat quae rerum</p>
                </section>
            </main>

            <footer class='footer'>
                <section class="footer__school-network">
                    <h3>School name</h3>
                    <p> Condecorações </p>
                </section>

                <section class="footer__school-info">
                    <h3>School name</h3>
                    <ul>
                        <li>Sobre</li>
                        <li>Estatisticas</li>
                        <li>Fale conosco</li>
                    </ul>
                </section>

                <section class="footer__school-help">
                    <ul>
                        <li>Nos Ajude</li>
                    </ul>
                </section>

                <section class="footer__school-network">
                    <ul>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>Email</li>
                    </ul>
                </section>
            </footer>
        </div>
    </body>
</html>

