<!DOCTYPE html>
<html lang="en">
<head>
    <title> Grade </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Ariel">

    <!--CSS --> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/student-grade.css">
    <link rel="stylesheet" href="/css/student-header.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="left">
                <span class="back-button">
                    <a class="back-link" href=""> Comeback </a>
                </span>

                <p class="header__locale"> 
                    <a href="/student/home" class="header__link">home</a> 
                    <a href="/student/grade" class="header__link">grade</a> 
                </p>
            </div>
            <div class="right">
                <p class="header__student"> Student Name </p>
            </div>
        </header>
    </div>
    <script src="/js/createBackButton.js"></script>
</body>
</html>

