<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> Student Home </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lucas Ariel">

        <!-- CSS --> 
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/student-home.css">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <p class="header__locale"> <a href="">/home</a></p>
                <div class="header__student-info">
                    <p> Student Name </p>
                </div>
            </header>

            <main class="main">
                <ul class="main__ul">
                    <a href="">
                        <li class="main__li">
                            <p class="li__paragraph"> <span class="li__span-age"> Terceiro ano(medio) </span> <span class="li__span-class">Turma B</span> </p>
                        </li>
                    </a>

                    <a href="">
                        <li class="main__li">
                            <p class="li__paragraph"> <span class="li__span-age"> Segundo ano(medio) </span> <span class="li__span-class">Turma B</span> </p>
                        </li>
                    </a>

                    <a href="">
                        <li class="main__li">
                            <p class="li__paragraph"> <span class="li__span-age"> Primeiro ano(medio) </span> <span class="li__span-class">Turma B</span> </p>
                        </li>
                    </a>
                </ul>
            </main>
        </div>
    </body>
</html>

