<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> Student Home </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lucas Ariel">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <p class="header__locale">/home</p>
                <div class="header__student-info">
                    <p> Student Name </p>
                </div>
            </header>

            <main class="main">
                <ul>
                    <li>
                        <p> <span> Terceiro ano(medio) </span> <span>Turma B</span> </p>
                    </li>
                    <li>
                        <p> <span> Segundo ano(medio) </span> <span>Turma B</span> </p>
                    </li>
                    <li>
                        <p> <span> Primeiro ano(medio) </span> <span>Turma B</span> </p>
                    </li>
                </ul>
            </main>
        </div>
    </body>
</html>

