<!DOCTYPE html>
<html lang="en">
<head>
    <title> Grade </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Ariel">

    <!--CSS --> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/student-grade.css">
    <link rel="stylesheet" href="/css/student-header.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="left">
                <span class="back-button">
                    <a class="back-link" href=""> Comeback </a>
                </span>

                <p class="header__locale"> 
                    <a href="/student/home" class="header__link">home</a> 
                    <a href="/student/grade" class="header__link">grade</a> 
                </p>
            </div>
            <div class="right">
                <p class="header__student"> Student Name </p>
            </div>
        </header>

        <main class="main">
            <table class="main__table">
                <thead class="table__thead">
                    <tr class="thead__tr">
                        <th class="thead__th thead__subject"> Subjects </th>
                        <th class="thead__th thead__unit"> 1° Unit </th>
                        <th class="thead__th thead__unit"> 2° Unit </th>
                        <th class="thead__th thead__unit"> 3° Unit </th>
                        <th class="thead__th thead__grade-point"> Grade point </th>
                        <th class="thead__th thead__teacher"> Teacher </th>
                    </tr>
                </thead>
                </tbody>
                    <tr class="tbody__tr">
                        <td class="tbody__td tbody__subject"> Math </td>
                        <td class="tbody__td tbody__unit"> 6 </td>
                        <td class="tbody__td tbody__unit"> 5 </td>
                        <td class="tbody__td tbody__unit"> </td>
                        <td class="tbody__td tbody__grade-point"></td>
                        <td class="tbody__td tbody__teacher"> Jucema </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
    <script src="/js/createBackButton.js"></script>
    <script src="/js/calcGradePoint.js"></script>
</body>
</html>

