<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Student Home </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Ariel">

    <!-- CSS --> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/students/home.css">
    <link rel="stylesheet" href="/css/header.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="left">
                <span class="back-button">
                    <a href="" class="back-link"></a>
                </span>
                <p class="header__locale"> 
                    <a href="" class="header__link">home</a> 
                </p>
            </div>

            <div class="right">
                <p class="header__student"> Student Name </p>
            </div>
        </header>

        <main class="main">
            <ul class="main__ul">
                <a href="" class="main__link">
                    <li class="main__li">
                        <p class="li__paragraph"> 
                            <span class="li__span-age li__span"> Terceiro ano<span style="color: #a020f0;">(medio)</span> </span> 
                            <span class="li__span-class li__span">Turma B</span> 
                            <span class="li__span-year li__span">2024</span>  
                        </p>
                    </li>
                </a>
            </ul>
        </main>
    </div>
    <script src="/js/createBackButton.js"></script>
</body>
</html>

