/* BLOCK */
.main{
    margin-top: 30px;

    max-width: 100vw;
    min-height: calc(100vh - 15.7vh - 30px);
}

.main__ul{
    max-width: 100vw;
    min-height: calc(100vh - 15.7vh - 30px);

    padding: 0 50px;

    display: flex;
    flex-direction: column;
    gap: 18px 0;
}

.year__ul{
    padding: 0 0 0 40px;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.year__li{
    width: 60vw;
    padding: 7px 12px;

    border: 2px solid #D5094D;
    border-radius: 10px;

    font-size: 18px;


    letter-spacing: 2px;
}

.year__li:hover{
    background: #D5094D;

    color: white;
}

/* ELEMENTS */
.year__paragraph{
    font-size: 24px;
    font-weight: bold;
}

.year__span::after{
    content: ' -';

    font-weight: bold;
}

.year__subject::after{
    content: '';
}

.year__link{
    text-decoration: none;
    color: black;
}

