/* BLOCK */
.main{ 
    margin-top: 30px; 
    max-width: 100vw; 
    min-height: calc(100vh - 15.7vh - 30px); 
}

.main__header{
    height: 30px;

    display: flex;
    justify-content: right;
    align-items: center;

    padding-right: 50px;

    margin-bottom: 40px;
}

.main-header__link{
    color: black;

    padding: 9px 20px;

    text-decoration: none;

    font-weight: bold;

    color: white;
    border-radius: 5px;
}

.main-header__edit{
    background-color: #ED6F1E;
}

.main-header__new{
    background-color: #691285;
}

.main-header__link:hover{
    font-size: 18px;
}

.main__ul{
    padding-left: 60px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ul__link{
    text-decoration: none;
}

.ul__li{
    width: 100%;

    width: 40vw;
    border: 2px solid #D5094D;
    border-radius: 4px;

    padding: 8px 12px;

    font-size: 18px;
    font-weight: bold;

    list-style: none;

    color: black;
}

.ul__li:hover{
    background-color: #D5094D;

    color: white;
}

.ul__type{
    font-weight: normal;
}

